<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CQ11_Ball_DB" connectionString="Server=cs6.tp33.net,14789;database=cq11;uid=Test_DF;pwd=d*uhbNHY%3pslo4f;" providerName="System.Data.SqlClient"/>
  <add name="CQ11_Online_DB" connectionString="Server=cs6.tp33.net,14789;database=cq11_Online;uid=Test_DF;pwd=d*uhbNHY%3pslo4f;Max Pool Size=512;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>
